.container-home {  
    display: grid;      
    grid-template-columns: repeat(12, 1fr);  
    grid-template-rows: 100px 400px 100px;  
    grid-gap: 5px;  
    grid-template-areas:  
        "h h h h h h h h h h h h"  
        "c c c c c c c c c m m m"  
        "f f f f f f f f f f f f";
    }

.header {  
        grid-area: h;  
    }
    
.menu {  
        grid-area: m;  
    }
    
.content {  
        grid-area: c;  
    }
    
.footer {  
       grid-area: f;  
    }
