* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #dacfca;
}

p, li {
    font-family: 'Kanit', sans-serif; 
}

p {
    font-size: 18px;
}

h1 {
    font-family: 'Kanit', sans-serif; 
    color: #fff;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header */

.container-home {  
    display: grid;      
    grid-template-columns: repeat(12, 1fr);  
    grid-template-rows: auto 2fr 1fr;  
    grid-gap: 5px;  
    grid-template-areas:  
        "h h h h h h h h h h h h"  
        "c c c c c c c c c m m m"  
        "f f f f f f f f f f f f";
    }

.head {  
        position: absolute;    
        grid-area: h;  
        top: 3%;
        left: 8%;
    }
    
.menu {  
        grid-area: m;  
    }
    
.content {  
        grid-area: c;  
    }
    
.footer {  
       grid-area: f;  
    }
