* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #dacfca;
}

p, li {
    font-family: 'Kanit', sans-serif; 
}

p {
    font-size: 18px;
    margin: 0; 
}

h1 {
    font-family: 'Kanit', sans-serif; 
    color: #fff;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header - Home */

.container-home {  
    display: grid;      
    grid-template-columns: repeat(12, 1fr);  
    grid-template-rows: auto 2fr 1fr;  
    grid-gap: 5px; 
    grid-column-gap: 20px;  
    padding-left: 8%;
    padding-right: 8%;
    grid-template-areas:  
    "h h h h h h h h h h h h"  
    "c c c c c c c c c m m m"  
    "c c c c c c c c c m m m"
    "c c c c c c c c c m m m"
    "f f f f f f f f f f f f";
}

.head {      
    grid-area: h;  
}

.inlineMenu {
    font-family: 'Kanit', sans-serif; 
    font-size: 22px;
    word-spacing: 1em;
    top: 16%; 
    right: 10%;
    position: absolute;
}

@media (min-width: 566px) and (max-width: 569px) {
    .inlineMenu {
        top: 19.5%;
        word-spacing: .5em;
    }
}

/* Toggled Header Nav */ 

#toggleText {
    top: 5%;
    right: 10%;
    color: #fff;
    position: absolute;
    z-index: 10;
}

#menu-container {
    background-color: #1d2e4c;
    position: absolute;
    width: 100%;
    left: 0%;
    height: 100vh;
    z-index: 6;
}

#menu {
    background-color: #1d2e4c;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 7;
}

#hiddenMenu {
    position: absolute;
    top: 30%;
}

p.placeHolder { 
    display: none;
}

p.Open:before { 
    content: "Menu";
}

p.Close:before { 
    content: "Close";
}

ul { 
    list-style: none;
}

li {
    font-size: 44px;
    line-height: 46pt;
}

/* Toggled Menu Media Queries */

@media only screen and (max-width: 450px) {
    nav {
        visibility: hidden;
    }
}

@media only screen and (min-width: 450px) {
    #toggleText {
        visibility: hidden;
    }

    #menu {
        visibility: hidden;
    }

    #menu-container {
        visibility: hidden;
    }
}

/* Scrollbar */

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { color: transparent; }

::-webkit-scrollbar-thumb {
    background-color: rgba(000, 0, 0, 0.2);
    border-radius: 5px;
}

/* Menu */
    
.menu {  
    grid-area: m;  
}

.flexbox-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 356px;
}

.side-nav { 
    align-self: flex-end;
    margin-top: 30px; 
}

nav > a {
    font-family: 'Kanit', sans-serif; 
    color: #fff;
    font-size: 48px;
}

nav > li {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

@media only screen and (max-width: 416px){
    .menu {
        display: none;
    }

    .container-home {  
        display: grid;      
        grid-template-columns: repeat(12, 1fr);  
        grid-template-rows: auto 2fr 1fr;  
        grid-gap: 5px;  
        padding-left: 8%;
        padding-right: 8%;
        grid-template-areas:  
        "h h h h h h h h h h h h"  
        "c c c c c c c c c c c c"  
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
    }

    .album > img {
        object-fit: contain; 
        width: 100%; 
    }

}

/* Inline Menu Queries */

@media only screen and (max-width: 416px) {
    .inlineMenu {
        display: none;
    }
}

@media only screen and (min-width: 766px){
    .inlineMenu {
        display: none;
    }
}

/* Mobile Landscape Queries */

@media (orientation: landscape) and (max-width: 766px) {
    .menu {
        display: none;
    }

    .container-home {  
        display: grid;      
        grid-template-columns: repeat(12, 1fr);  
        grid-template-rows: auto 2fr 1fr;  
        grid-gap: 5px;  
        padding-left: 8%;
        padding-right: 8%;
        grid-template-areas:  
        "h h h h h h h h h h h h"  
        "c c c c c c c c c c c c"  
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
    }

    .album > img {
        object-fit: contain; 
        width: 100%; 
    }    
}

/* Album */
    
.album {  
    grid-area: c;  
}

.album > img {
    object-fit: contain; 
    width: 100%; 
    max-height: 600px;
}
    
.footer {
    grid-area: f; 
    height: 70px;
} 


/* Video */

.container-video {  
    display: grid;      
    grid-template-columns: repeat(12, 1fr);  
    grid-template-rows: auto 1fr 1fr;  
    grid-gap: 5px; 
    grid-column-gap: 20px;  
    padding-left: 8%;
    padding-right: 8%;
    grid-template-areas:  
    "h h h h h h h h h h h h"  
    "a a a a a a b b b b b b"  
    "c c c c c c d d d d d d"
    "f f f f f f f f f f f f";
}

.head-video {      
    grid-area: h;  
}

.video-a {
    grid-area: a; 
    justify-self: center;
}

.video-b {
    grid-area: b;
    justify-self: center;
}

.video-c {
    grid-area: c;
    justify-self: center;
}

.video-d {
    grid-area: d;
    justify-self: center;
}

.footer-video {
    grid-area: f; 
    height: 70px; 
}

.container .title {
    text-align: center;
}
  
.content {
    position: relative;
    width: 100%;
    max-width: 550px;
    overflow: hidden;
}
  
.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
.content:hover .content-overlay {
    opacity: 1;
}
  
.content-image {
    width: 100%;
}
  
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
.content-details p {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
    text-transform: uppercase;
}
  
.fadeIn-bottom {
    top: 80%;
}
  
.fadeIn-top {
    top: 20%;
}
  
.fadeIn-left {
    left: 20%;
}
  
.fadeIn-right {
    left: 80%;
}

@media only screen and (max-width: 416px){
    .container-video {  
        display: grid;      
        grid-template-columns: repeat(12, 1fr);  
        grid-template-rows: auto 1fr 1fr;  
        grid-gap: 5px;  
        padding-left: 8%;
        padding-right: 8%;
        grid-template-areas:  
        "h h h h h h h h h h h h"  
        "a a a a a a a a a a a a" 
        "b b b b b b b b b b b b"  
        "c c c c c c c c c c c c" 
        "d d d d d d d d d d d d"
        "f f f f f f f f f f f f";
    }

    .footer-video {
        display: none;
    }
}

/* Music */

.container-music {  
    display: grid;      
    grid-template-columns: repeat(12, 1fr);  
    grid-template-rows: repeat(6, 1fr);  
    grid-gap: 5px; 
    grid-column-gap: 20px;  
    padding-left: 8%;
    padding-right: 8%;
    grid-template-areas:  
    "h h h h h h h h h h h h"  
    "e e e e e e k k k k k k"  
    "e e e e e e k k k k k k"
    "e e e e e e j j j j j j"
    "e e e e e e g g g g g g"
    "f f f f f f f f f f f f";
}

.head-music {      
    grid-area: h;  
}

.footer-music {
    grid-area: f; 
    height: 70px; 
}

.ep {  
    grid-area: e;  
}

.ep > img {
    object-fit: contain; 
    width: 100%; 
    max-height: 600px;
}

.music-k {
    grid-area: k;
}

.music-k > .ep-title {
    object-fit: contain; 
    text-align: center;
    font-size: 48px; 
    color: #fff; 
    margin: 0; 
    width: 100%; 
}

.music-k > table {
    font-family: 'Kanit', sans-serif;
    object-fit: contain;
    text-align: center;
    padding-top: 20px; 
    border: 0;
    font-size: 20px;
    width: 100%;
}

.music-g {
    grid-area: g;
    align-items: center; 
}

.fabIcons {
    display: flex;
    justify-content: space-around;
}

i {
    font-family:'FontAwesome';
    font-size: 50px;
    color: #1d2e4c;
    transition: 0.5s;
}

i.fab:hover {
    color: #3a527c;
}

.music-j {
    grid-area: j; 
    align-items: center;   
}

.listen {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background: #de68c1;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    text-align: center;
    align-items: center; 
    height: 50px;
    font-size: 1.25em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: none;
}

.listen:hover {
    background: #e794ce;
}

@media only screen and (max-width: 376px) {
    i {
        font-size: 40px;
    }
}

@media screen and (max-width: 824px) {
    .music-k > .ep-title {
        font-size: 36px; 
        text-align: center;
    }
    
    i {
        font-size: 36px;
    }
    
    .container-music {  
        display: grid;      
        grid-template-columns: repeat(12, 1fr);  
        grid-template-rows: 1fr 1fr 1fr auto;  
        grid-gap: 5px; 
        grid-column-gap: 20px;  
        padding-left: 8%;
        padding-right: 8%;
        grid-template-areas:  
        "h h h h h h h h h h h h"  
        "e e e e e e k k k k k k"  
        "e e e e e e k k k k k k"
        "g g g g g g j j j j j j"
        "f f f f f f f f f f f f";
    }

    .listen {
        margin-top: 10px; 
    }

    .fabIcons {
        margin-top: 10px;
    }
}

@media (orientation: landscape) and (max-width: 668px) {
    .music-k > .ep-title {
        font-size: 25px; 
    }

    .music-k > table {
        font-size: 14px; 
        width: 100%;
        text-align: center;
    }

    .listen {
        margin-top: 0; 
    }

    .fabIcons {
        margin-top: 0;
    }
}

@media only screen and (max-width: 416px) {
    .container-music {  
        display: grid;      
        grid-template-columns: repeat(12, 1fr);  
        grid-template-rows: 1fr auto;  
        grid-gap: 5px; 
        grid-column-gap: 20px;  
        padding-left: 8%;
        padding-right: 8%;
        grid-template-areas:  
        "h h h h h h h h h h h h"  
        "e e e e e e e e e e e e"  
        "e e e e e e e e e e e e"
        "k k k k k k k k k k k k"
        "k k k k k k k k k k k k"
        "j j j j j j j j j j j j"
        "g g g g g g g g g g g g"
        "f f f f f f f f f f f f";
    }

    .music-k > table {
        font-size: 16px; 
        width: 100%;
        text-align: center;
    }

    .music-k > .ep-title {
        font-size: 36px;
        text-align: center;
    }

    .listen {
        margin-top: 20px;
    }

    .music-g {
        margin-top: 25px; 
        margin-bottom: 25px; 
    }

    .footer-music {
        display: none;
    }

}

/* Shows */

.container-shows {  
    display: grid;      
    grid-template-columns: repeat(12, 1fr);  
    grid-template-rows: repeat(6, 1fr);  
    grid-gap: 5px; 
    grid-column-gap: 20px;  
    padding-left: 8%;
    padding-right: 8%;
    grid-template-areas:  
    "h h h h h h h h h h h h"  
    "m m m m m m m m m m m m"  
    "n n n n n n n n n n n n"
    "o o o o o o o o o o o o"
    "p p p p p p p p p p p p"
    "f f f f f f f f f f f f";
}

.head-shows {      
    grid-area: h;  
}

.shows-m {
    grid-area: m;
}

.shows-n {
    grid-area: n;
}

.shows-o {
    grid-area: o;
}

.shows-p {
    grid-area: p;
}

.footer-shows {
    grid-area: f; 
    height: 70px; 
}

.dates-container-flex {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap; 
    justify-content: space-between;
    align-content: space-between;
    background-color: rgba(255, 255, 255, 0.37);
    transition: 0.5s;
    height: 115px; 
}

.dates-container-flex:hover {
    background-color: rgba(255, 255, 255, 0.568);
}

.date-box {
    background-color: #1d2e4c;
    color: #FFF;
    width: 130px; 
    height: 115px; 
    text-align: center;
    line-height: 2em; 
    order: 1; 
    align-self: flex-start;
    padding-top: 18px; 
    font-family: 'Kanit', sans-serif;
}

.month {
    font-size: 1em; 
}

.date {
    font-size: 2.75em;
}

.location {
    color: #1d2e4c;
    width: 250px; 
    height: 115px; 
    text-align: center;
    padding-top: 42px; 
    order: 2; 
}

.venue {
    color: #1d2e4c;
    width: 250px; 
    height: 115px; 
    text-align: center;
    padding-top: 42px; 
    order: 3; 
}

.tickets {
    background-color: #de68c1;
    color: #FFF;
    width: 130px; 
    height: 115px; 
    text-align: center; 
    order: 4; 
    align-self: flex-end; 
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em; 
    padding-top: 38px; 
    -webkit-transition: 0.5s;
            transition: 0.5s;
}

.tickets:hover {
    background-color: #e794ce;
}

@media screen and (max-width: 824px) {
    .container-shows { 
        display: grid;      
        grid-template-columns: repeat(12, 1fr);  
        grid-template-rows: 1fr auto;  
        grid-gap: 30px; 
        grid-column-gap: 20px;  
        padding-left: 8%;
        padding-right: 8%;
        grid-template-areas:  
        "h h h h h h h h h h h h"  
        "m m m m m m m m m m m m"  
        "m m m m m m m m m m m m"
        "n n n n n n n n n n n n"
        "n n n n n n n n n n n n"
        "o o o o o o o o o o o o"
        "o o o o o o o o o o o o"
        "p p p p p p p p p p p p"
        "p p p p p p p p p p p p"
        "f f f f f f f f f f f f";
    }
    
    .dates-container-flex {
        height: 250px;
    }
    
    .date-box {
        width: 100%; 
        height: 110px; 
    }

    .location {
        width: 100%; 
        height: 50px; 
        padding-top: 0px; 
    }

    .venue {
        width: 100%; 
        height: 50px; 
        padding-top: 0px;
    }

    .tickets {
        width: 100%; 
        height: 40px;
        padding-top: 0px; 
    }
}
