* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #dacfca;
}

p, li {
    font-family: 'Kanit', sans-serif; 
}

p {
    font-size: 18px;
}

h1 {
    font-family: 'Kanit', sans-serif; 
    color: #fff;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header */

.container-home {  
    display: grid;      
    grid-template-columns: repeat(12, 1fr);  
    grid-template-rows: auto 2fr 1fr;  
    grid-gap: 5px; 
    grid-column-gap: 20px;  
    padding-left: 8%;
    padding-right: 8%;
    grid-template-areas:  
    "h h h h h h h h h h h h"  
    "c c c c c c c c c m m m"  
    "c c c c c c c c c m m m"
    "c c c c c c c c c m m m"
    "f f f f f f f f f f f f";
}

.head {      
    grid-area: h;  
}

/* Toggled Header Nav */ 

#toggleText {
    top: 5%;
    right: 10%;
    color: #fff;
    position: absolute;
    z-index: 10;
}

#menu-container {
    background-color: #03262f;
    position: absolute;
    width: 100%;
    left: 0%;
    height: 100vh;
    z-index: 6;
}

#menu {
    background-color: #03262f;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 7;
}

#hiddenMenu {
    position: absolute;
    top: 30%;
}

p.placeHolder { 
    display: none;
}

p.Open:before { 
    content: "Menu";
}

p.Close:before { 
    content: "Close";
}

ul { 
    list-style: none;
}

li {
    font-size: 44px;
    line-height: 46pt;
}

/* Toggled Media Queries */

@media only screen and (min-width: 320px) {
    h2 {
        font-size: 24px; 
    }
}

@media only screen and (min-width: 375px) {
    h2 {
        font-size: 32px; 
    }
}

@media only screen and (max-width: 450px) {
    nav {
        visibility: hidden;
    }
}

@media only screen and (min-width: 450px) {
    #toggleText {
        visibility: hidden;
    }

    #menu {
        visibility: hidden;
    }

    #menu-container {
        visibility: hidden;
    }
}

@media only screen and (min-width: 767px) {
    h2 {
        font-size: 56px;
    }
}

@media only screen and (min-width: 1023px) {
    h2 {
        font-size: 78px;
    }
}

/* Menu */
    
.menu {  
    grid-area: m;  
}

.flexbox-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 300px;
}

.side-nav { 
    align-self: flex-end;
    margin-top: 30px; 
}

nav > a {
    font-family: 'Kanit', sans-serif; 
    color: #fff;
    font-size: 48px;
}

nav > li {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

@media only screen and (max-width: 416px){
    .menu {
        display: none;
    }

    .container-home {  
        display: grid;      
        grid-template-columns: repeat(12, 1fr);  
        grid-template-rows: auto 2fr 1fr;  
        grid-gap: 5px;  
        padding-left: 8%;
        padding-right: 8%;
        grid-template-areas:  
        "h h h h h h h h h h h h"  
        "c c c c c c c c c c c c"  
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
    }

    .album > img {
        object-fit: contain; 
        width: 100%; 
    }
}

/* Album */
    
.album {  
    grid-area: c;  
}

.album > img {
    object-fit: contain; 
    width: auto; 
}

/* Footer */
    
.footer {
    grid-area: f; 
    height: 70px;
}